name: Java CI with Maven

on:
   push:
     branches: master

jobs:
   build:

     runs-on: ubuntu-latest

     steps:
     - uses: actions/checkout@v3
     - name: Set up JDK 
       uses: actions/setup-java@v3
       with:
         java-version: '17.0.2'
         distribution: 'temurin'
         cache: maven
     - name: Build with Maven
       run: mvn -B package --file pom.xml
     - name: Deploy to EB
       uses: einaregilsson/beanstalk-deploy@v13
       with:
         aws_access_key: ${{ secrets.MY_AWS_ACCESS_KEY }}
         aws_secret_key: ${{ secrets.MY_AWS_SECRET_KEY }}
         application_name: spring-security-mvs
         environment_name: Springsecuritymvs-env
         version_label: ${{github.SHA}}
         region: eu-central-1
         deployment_package: target/peaksoftlms
